.hh-box{
    width: 200px; height:250px;
    border: 1px solid blue;
    border-radius: 5px; text-align: center;
    position:relative;
    display:inline-block;
    margin: 35px 5px 5px 5px;
}
.hh-box-new-icon{
    position:absolute; right: 0; top:0; width: 75px;
}
.hh-box-img{width:170px; margin-top:7px;}
.hh-box-price {position: absolute; left: 5px; bottom:7px; color: green; font-weight:bolder;}
.hh-box-action{position:absolute; right: 5px; bottom:5px; width:30px;}
.hh-box-name{position:absolute; top: -30px; font-size:x-large; font-weight:bold; color:blue; width:inherit;}
.hh-box-gia-soc{
    position:absolute; top:0; left:0;
}